/* æ¸…é™¤å…¨å±€æ ·å¼
html,body,div,span,h1,h2,h3,h4,img,strong,ol,ul,li{
    background:transparent none repeat scroll 0 0;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}*/


/*******************************************************************/
/*header*/
/*#header-inner{
    position:relative;
    margin:0 auto;
}*/

/*#logo{
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}*/

/*#title{
    height:2.5em;
    background-color:blue;
    color:white;
}

#logo img, #title h1{
    display:block;
    margin:0 auto;
    text-align:center;
    line-height:2.5em;
    font-size:1em;
}*/

/*å¤´éƒ¨æ ·å¼*/
.header-inner{
    position:relative;
    margin:0 auto;

}

.logo{
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}

.title{
    height:2.5em;
    background-color:blue;
    color:white;
}

.title.ui-btn-down{
    cursor:default;
}

.logo img, .title h1{
    display:block;
    margin:0 auto;
    text-align:center;
    line-height:2.5em;
    font-size:1em;
}

/*ä¸»ä½“éƒ¨åˆ†*/
li{
    list-style:none;
}

.content{
    padding-top:25px;
    width:90%;
    margin:0 auto;
}

.content input{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.content input[type="text"],.content input[type="password"]{
    width:99%;
    height:2em;
    font-size:16px;
}

.content input[type='submit']{
    width:99%;
    height:3em;
    font-size:15px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
}

.content input[type='submit']:active{
    border: 1px solid #2373a5;
    /*background: orange;*/
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 1px #3373a5;
    text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from( orange ),to( orange ));
    background-image: -webkit-linear-gradient( orange,orange );
    background-image: -moz-linear-gradient( orange,orange );
    background-image: -ms-linear-gradient( #5393c5,#6facd5 );
    background-image: -o-linear-gradient( orange,orange );
    background-image: linear-gradient(orange,orange );
    font-family: Helvetica,Arial,sans-serif;
}

.grid-a{
    position:relative;
    margin:0 auto;
    height:4em;
    width:98%;
}

.grid-b{
    text-align:center;
    height:4em;
}

.grid-c{
    position:relative;
    margin:0 auto;
    width:98%;
    height:4em;
}

.grida-block-a{
    float:left;
    display:inline-block;
    width:30%;
    line-height:3em;
}

.grida-block-b{
    float:left;
    width:70%;
    /* line-height:3em; */
}

.gridc-block-a{
    float:left;
    width:30%;
    line-height:3em;
}

.gridc-block-b{
    float:left;
    width:20%;
    line-height:3em;
}

.gridc-block-c{
    float:left;
    width:25%;
    line-height:3em;
    text-align:center;
}

.gridc-block-d{
    float:left;
    width:25%;
    line-height:3em;
    text-align:center;
}

.grida-block-a label,.gridb-block-a label,.gridc-block-a label{
    font-size:1em;
}

.ui-radio-controls{
}

/*ä¸»ä½“radio */
.ui-radio{
    /*display:block;*/
    float:left;
    clear:none;
}

.ui-radio input{
    position:absolute;
    z-index:1;
}

.ui-radio label{
    display:block;
    position:relative;
    width:80px;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border:1px solid black;
    z-index:2;
}

.ui-radio label:hover{
    color:#FFF;
}

.ui-radio label:active{
    border: 1px solid #2373a5;
    background: #5393c5;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 1px #3373a5;
    text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #5393c5 ),to( #6facd5 ));
    background-image: -webkit-linear-gradient( #5393c5,#6facd5 );
    background-image: -moz-linear-gradient( #5393c5,#6facd5 );
    background-image: -ms-linear-gradient( #5393c5,#6facd5 );
    background-image: -o-linear-gradient( #5393c5,#6facd5 );
    background-image: linear-gradient( #5393c5,#6facd5 );
    font-family: Helvetica,Arial,sans-serif;
}

/*button æœ‰å…³çš„css*/
.ui-btn {
    text-align: center;
    cursor: pointer;
    height:2.5em;
    line-height:2.5em;
}

.ui-btn-up{
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    color: #222;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #fff ),to( #f1f1f1 ));
    background-image: -webkit-linear-gradient( #fff,#f1f1f1 );
    background-image: -moz-linear-gradient( #fff,#f1f1f1 );
    background-image: -ms-linear-gradient( #fff,#f1f1f1 );
    background-image: -o-linear-gradient( #fff,#f1f1f1 );
    background-image: linear-gradient( #fff,#f1f1f1 );
}

.ui-btn-down{
   /* border: 1px solid #2373a5;*/
    background: #7e5be1;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    /*text-shadow: 0 1px 1px #3373a5;*/
    text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #7e5be1 ),to( #aa8cfd ));
    background-image: -webkit-linear-gradient( #7e5be1,#aa8cfd );
    background-image: -moz-linear-gradient( #7e5be1,#aa8cfd );
    background-image: -ms-linear-gradient( #7e5be1,#aa8cfd );
    background-image: -o-linear-gradient( #7e5be1,#aa8cfd );
    background-image: linear-gradient( #7e5be1,#aa8cfd );
    font-family: Helvetica,Arial,sans-serif;
}

.ui-btn-orange{
    /* border: 1px solid #2373a5;*/
    background: #fd6501;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    /*text-shadow: 0 1px 1px #3373a5;*/
    text-decoration: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #fd6501 ),to( #fc9957 ));
    background-image: -webkit-linear-gradient( #fd6501,#fc9957 );
    background-image: -moz-linear-gradient( #fd6501,#fc9957 );
    background-image: -ms-linear-gradient( #fd6501,#fc9957 );
    background-image: -o-linear-gradient( #fd6501,#fc9957 );
    background-image: linear-gradient( #fd6501,#fc9957 );
    font-family: Helvetica,Arial,sans-serif;
}

.ui-corner-left{
    -moz-border-radius-topleft: .6em;
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -moz-border-radius-bottomleft: .6em;
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em;
}

.ui-corner-right {
    -moz-border-radius-topright: .6em;
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em;-moz-border-radius-bottomright: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em;
}

.ui-btn-corner-all {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.ui-btn-inner{
}

/*selectæŽ§ä»¶æœ‰å…³çš„css*/
/*select{
	-webkit-writing-mode: horizontal-tb;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	border-radius: 5px;
	-webkit-appearance: menulist;
	box-sizing: border-box;
	-webkit-box-align: center;
	border: 1px solid;
	border-image: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
	border-radius: 0px;
}*/

.ui-select {
    display: block;
    position: relative;
}

.ui-select .ui-btn{
}

.ui-select .ui-btn select {
    position:absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 2.5em;
    height: 2.5em;
    max-height: 100%;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;
}

/*iconç›¸å…³css*/
.ui-icon {
    background: rgba(0,0,0,.4);
    background-image: url(icons-18-white.png);
    background-repeat: no-repeat;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.ui-btn-icon-right > .ui-btn-inner > .ui-icon {
    position: absolute;
    right:10px;
    margin-top:0.7em;
    width:18px;
    height:18px;
}


/*.ui-shadow {
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}*/

.ui-icon-arrow-d {
    /*background-position: -216px 50%;*/
    background-position: -216px 0px;
}

.ui-icon-shadow {
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

/*å…·ä½“ç»†è°ƒ*/
.gridc-block-c {
    text-align:center;
}

.gridc-block-c img{
    display:inline-block;
    margin-left:15px;
}

.gridc-block-d {
    text-align:center;
}

.gridc-block-d a{
    display:inline-block;
    margin-left:15px;
}

.error-block{
    margin: 0 auto;
    width:75%;
    text-align:center;
}

.error-msg{
    background-color:#F2DEDE;
}

@media only screen and (-webkit-min-device-pixel-ratio:2){
    .ui-radio label{
        width:96px;
    }

    .gridc-block-c img{
        display:inline-block;
        margin-left:15px;
        margin-top:15
    }

    .content input[type="text"],.content input[type="password"]{
        width:96%;
    }
}

/*.ui-select select {
position: absolute;
/*left: -9999px;
top: -9999px;
}*/